.testonomial {
	width: Fill (1, 440px) px;
	height: Hug (552px) px;
	padding: 96px 0px 96px 0px;
	gap: 64px;
	opacity: 0px;
	background-color: #f9fafb;
	text-align: center;
}

.container {
	width: Fixed (1, 280px) px;
	height: Hug (360px) px;
	padding: 0px 32px 0px 32px;
	gap: 32px;
	opacity: 0px;
}

.content {
	width: Fill (1, 216px) px;
	height: Hug (360px) px;
	gap: 40px;
	opacity: 0px;
}

.quoteA {
	width: Fill (1216px) px;
	height: Hug (360px) px;
	gap: 40px;
	opacity: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.quote {
	margin-top: 16px;
	width: 1216px;
	height: 120px;
	gap: 0px;
	opacity: 0px;
	text-align: center;
	font-family: "Inter";
	font-size: 48px;
	font-weight: 500;
	line-height: 60px;
	letter-spacing: -0.02em;
	color: #101828;
}

.avatarT {
	width: Fill (1, 216px) px;
	height: Hug (136px) px;
	gap: 16px;
	opacity: 0px;
	margin-top: 16px;
}

.textS {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 4px;
}

.text {
	width: 1216px;
	height: 28px;
	gap: 0px;
	opacity: 0px;
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	text-align: center;
	color: #101828;
}

.st {
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	color: #475467;
	width: 1216px;
	height: 24px;
	gap: 0px;
	opacity: 0px;
}
