.blogPostCard {
	width: 384px;
	height: 444px;
	margin-left: 24px;
	opacity: 0px;
}

.supportingText {
	width: 384px;
	height: 20px;
	gap: 0px;
	opacity: 0px;
	font-family: "Inter";
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	text-align: left;
	color: #6941c6;
	margin-bottom: 4px;
	margin-top: 16px;
}

.heading {
	font-family: "Inter";
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	text-align: left;
	color: #101828;
	width: 344px;
	height: 32px;
	gap: 0px;
	opacity: 0px;
	margin-bottom: 8px;
}
.category {
	display: grid;
	width: 1300px;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
	align-items: center;
}
.headingElement {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.subHeading {
	width: 384px;
	height: 48px;
	gap: 0px;
	opacity: 0px;
	font-family: "Inter";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #475467;
	margin-bottom: 16px;
}
