.faq {
	width: Fill (1, 440px) px;
	height: Hug (1, 216px) px;
	padding: 96px 0px 96px 0px;
	gap: 64px;
	opacity: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container1 {
	width: Fill (1, 440px) px;
	height: Hug (1, 216px) px;
	padding: 96px 0px 96px 0px;
	gap: 64px;
	opacity: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content1 {
	width: Fill (1, 216px) px;
	height: Hug (94px) px;
	gap: 48px;
	opacity: 0px;
}

.hSt {
	width: Fixed (768px) px;
	height: Hug (94px) px;
	margin-top: 20px;
	opacity: 0px;
}

.question {
	display: flex;
	justify-content: center;
	align-items: center;
	width: Fill (768px) px;
	height: Hug (52px) px;
	padding-top: 24px;
	gap: 0px;
	border: 1px 0px 0px 0px;
	opacity: 0px;
	margin-bottom: 24px;
	border-top: 1px solid #eaecf0;
}

.heading {
	font-family: "Inter";
	font-size: 36px;
	font-weight: 600;
	line-height: 44px;
	letter-spacing: -0.02em;
	text-align: center;
	width: 768px;
	height: 44px;
	gap: 0px;
	opacity: 0px;
	color: #101828;
	margin-bottom: 20px;
}

.sText {
	width: 768px;
	height: 30px;
	gap: 0px;
	opacity: 0px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	color: #475467;
	margin-bottom: 24px;
}

.container2 {
	width: Fixed (1, 280px) px;
	height: Hug (504px) px;
	padding: 0px 32px 0px 32px;
	gap: 64px;
	opacity: 0px;
}

.content2 {
	width: Fixed (768px) px;
	height: Hug (504px) px;
	gap: 32px;
	opacity: 0px;
}

.faqItem {
	width: Fill (768px) px;
	height: Hug (84px) px;
	gap: 0px;
	opacity: 0px;
}

.content21 {
	width: Fill (768px) px;
	height: Hug (84px) px;
	margin-bottom: 24px;
	opacity: 0px;
}

.lightTheme {
	background: #ffffff;
	border: 1px solid #d6bbfb;
}
.tSt {
	width: Fill (720px) px;
	height: Hug (84px) px;
	opacity: 0px;
}

.text1 {
	width: 720px;
	height: 28px;
	gap: 0px;
	opacity: 0px;
	font-family: "Inter";
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	text-align: left;
	color: #101828;
	margin-bottom: 8px;
}

.sText1 {
	width: 720px;
	height: 48px;
	gap: 0px;
	opacity: 0px;
	font-family: "Inter";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #475467;
	margin-bottom: 24px;
}

.container3 {
	width: Fixed (1, 280px) px;
	height: Hug (298px) px;
	padding: 0px 32px 0px 32px;
	gap: 32px;
	opacity: 0px;
}

.content3 {
	width: Fill (1, 216px) px;
	height: Hug (298px) px;
	padding: 32px 0px 0px 0px;
	gap: 32px;
	border-radius: 16px;
	opacity: 0px;
	background-color: rgb(249, 250, 251);
	display: flex;
	justify-content: center;
	align-itenter;
	flex-direction: column;
}

.hSt1 {
	width: Fixed (768px) px;
	height: Hug (66px) px;
	gap: 8px;
	opacity: 0px;
}

.heading1 {
	width: 768px;
	height: 30px;
	gap: 0px;
	opacity: 0px;
	font-family: "Inter";
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	color: #101828;
}

.stext2 {
	width: 768px;
	height: 28px;
	gap: 0px;
	opacity: 0px;
	font-family: "Inter";
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
	color: #475467;
}

.actions {
	width: Hug (134px) px;
	height: Hug (48px) px;
	gap: 12px;
	opacity: 0px;
}

.btn {
	width: Hug (134px) px;
	height: Hug (48px) px;
	padding: 12px 20px 12px 20px;
	margin-top: 8px;
	border-radius: 8px;
	border: 1px;
	opacity: 0px;
	background-color: #7f56d9;
	border: 1px solid #7f56d9;
	box-shadow: 0px 1px 2px 0px #1018280d;
}

.btnText {
	width: 94px;
	height: 24px;
	gap: 0px;
	opacity: 0px;
	font-family: "Inter";
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	text-align: left;
	color: #ffffff;
}
