.section-divider {
	display: flex;
	justify-content: center;
	align-items: center;
	width: Fixed (1, 280px) px;
	height: Hug (1px) px;
	padding: 0px 32px 0px 32px;
	gap: 32px;
	opacity: 0px;
}

.divider {
	width: 1216px;
	height: 1px;
	gap: 0px;
	opacity: 0px;
	background-color: #eaecf0;
}
