.featureSection {
	width: Fill (1, 440px) px;
	height: Hug (1, 300px) px;
	padding: 96px 0px 96px 0px;
	gap: 64px;
	opacity: 0px;
	text-align: center;
}

.container1 {
	width: Fixed (1, 280px) px;
	height: Hug (168px) px;
	padding: 0px 32px 0px 32px;
	gap: 32px;
	opacity: 0px;
}

.content1 {
	width: Fill (1, 216px) px;
	height: Hug (168px) px;
	gap: 48px;
	opacity: 0px;
}

.hSt {
	width: Fixed (768px) px;
	height: Hug (168px) px;
	gap: 20px;
	opacity: 0px;
	margin-top: 16px;
}

.hbadge {
	width: Fill (768px) px;
	height: Hug (88px) px;
	gap: 16px;
	opacity: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.badge {
	font-family: "Inter";
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	color: #6941c6;
	border: 1px solid #e9d7fe;
	background-color: #f9f5ff;
	width: Hug (83px) px;
	height: Hug (28px) px;
	padding: 4px 12px 4px 12px;
	gap: 0px;
	border-radius: 16px;
	border: 1px 0px 0px 0px;
	opacity: 0px;
}

.content3 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: Fill (1, 216px) px;
	height: Hug (178px) px;
	gap: 32px;
	opacity: 0px;
	text-align: center;
}

.heading {
	font-size: 36px;
	font-weight: 600;
	line-height: 44px;
	letter-spacing: -0.02em;
	text-align: center;
	width: 768px;
	height: 44px;
	gap: 0px;
	opacity: 0px;
	color: #101828;
	font-family: "Inter";
	margin-bottom: 16px;
}

.sText {
	font-family: "Inter";
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	color: #475467;
	height: 60px;
	opacity: 0px;
	width: 768px;
}

.image {
	width: 1216px;
	height: 719px;
	gap: 32px;
	opacity: 0px;
	margin-top: 64px;
}

.linkstyle {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 8px;
}

.atext {
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	text-align: left;
	width: 88px;
	height: 24px;
	gap: 0px;
	opacity: 0px;
	color: #6941c6;
}

.imagestyle {
	margin-top: 20px;
}
